In [2]:
# Import the necessary librarie
import pandas as pd
import numpy as np

In [3]:
# Assign each to a variable called cars1 and cars2
cars1 = pd.read_csv("/content/cars1.csv")

In [4]:
cars2 = pd.read_csv("/content/cars2.csv")

In [5]:
cars2.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

In [6]:
cars1.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [7]:
# Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1.drop(["Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12","Unnamed: 13"], axis=1, inplace=True)

In [8]:
# What is the number of observations in each dataset?
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.0+ KB

In [9]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

In [10]:
# Join cars1 and cars2 into a single DataFrame called cars
cars = cars1.merge(cars2, how='outer')

In [11]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 28.1+ KB

In [16]:
# Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.
owner = np.random.randint(15000,73000, size=len(cars))

In [18]:
# Add the column owners to cars
cars['owners'] = owner
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,9.0,8,304,193,4732,18.5,70,1,hi 1200d,26608
1,10.0,8,307,200,4376,15.0,70,1,chevy c20,48771
2,10.0,8,360,215,4615,14.0,70,1,ford f250,17733
3,11.0,8,318,210,4382,13.5,70,1,dodge d200,72605
4,11.0,8,350,180,3664,11.0,73,1,oldsmobile omega,48860